<form action="/upload/pdf" method="post" enctype="multipart/form-data">
  <label for="upload">Upload the PDF document that you would like to extract filenames from:</label>
  <div>
    <input type="file" id="upload" name="upload">
    <button type="submit">Upload</button>
  </div>
</form>
<% if @clean %>
  <h2>Result:</h2>
  <h4>Count: <%= @clean.size %></h4>
  <h4>Filenames:</h4>
  <% @clean.each do |filename| %>
    <p><%= filename %></p>
  <% end %>
<% end %>
