<form action="/upload" method="post" enctype="multipart/form-data">
  <label for="upload">Upload the PDF document that you would like to extract filenames from:</label>
  <div>
    <input type="file" id="upload" name="upload">
    <button type="submit">Upload</button>
  </div>
</form>


