<form action="/upload/pdf" method="post" enctype="multipart/form-data">
  <label for="upload">Upload the PDF document that you would like to extract filenames from:</label>
  <div>
    <input type="file" id="upload" name="upload">
    <button type="submit">Upload</button>
  </div>
</form>
<% if @clean %>
  <h3>Result:</h3>
  <p>Count: <%= @clean.size %></p>
  <div>
    <label for="filenames">Filenames:</label>
    <br>
    <textarea id="filenames" name="filenames" rows="<%=@clean.size+2%>" cols="50">
  <% @clean.each do |filename| %>
<%= filename %>
  <% end %>
</textarea>
  </div>
<% end %>
